*{
    transition: 0.25s all;
    appearance: none;
    font-family: sans-serif;
}

body {
    background-color: #eee;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
}

.item-list {
    margin-left: 10%;
    width: 70%;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:first-child {
    color: #fff;
    background-color: #a33;
}

#current-tag span {
    display: flex;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px #0005;
    margin: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #ddd;
}

button {
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: #eee;
    border: 1px solid #bbb;
}

button {
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: #eee;
    border: 1px solid #bbb;
}

button:hover{
    background-color: #fff;
    border: 1px solid #777;
}

button.warn {
    float: right;
    color: #efefef;
    background-color: #daa;
    border: 1px solid #a77;
}

button.warn:hover {
    float: right;
    color: #fff;
    background-color: #a55;
    border: 1px solid #a55;
}

ul.errorlist {
    padding: 0;
}

ul.errorlist > li {
    display: block;
    background-color: #daa;
    padding: 1em;
    border-radius: 0.5em;
}

video {
    flex-basis: 60%;
}

.tag {
    z-index: 2;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    position: absolute;
}

#tag-container{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
}

#tagging-controls{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

#current-tag {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 2;
}
#create-new{
    flex-grow: 1;
}
